:root{
    --mainColor:#03382f;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    min-height: 100vh;
    background-color: var(--mainColor);
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
}
.container{
    margin-top: 60px;
    /* 900px 900px 900px 900px 900px 900px 900px 900px  */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
h2{
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}
.tasks_containers{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;    
    /* 50px;  50px;  50px;  50px;  50px;  50px;  50px;  50px;  50px;  */
    gap: 50px;

}
.box{
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: .2s;

}
.task{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 4px 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: #03382f;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition-duration: .1s;
    overflow-wrap: anywhere;
    line-height: 1.4;
    cursor: pointer;

}
.task::before{
    content: "";
    position: absolute;
    left: -97%;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition-duration: .5s;
}
.task:hover{
    color: white;
}
.task:hover::before{
    left: 0;
}
.tasks{
    transition-duration: .5s;
    border-radius: 10px;
    width: 100%;
}
#ready .task::before{
    background-color: red;    
}
#progress .task::before{
    background-color: #FF9800;    
}
#compeletd .task::before{
    background-color: #48d7a3;    
}
.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    right: 0;
    top: 0;
    transition-duration: 1s;
}
.imgs img{
    height: 35px;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 50%;
    transition-duration: .2s;
}
.imgs img:hover{
    box-shadow: 0 0 0px 2px white;
}
.showEdit{
    right: -100%;
}

.right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 30px;
    background: springgreen;
    color: white;
    width: 75px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .4s;
}
.showRight{
    transform: translate(100%, -50%);
}
.add{
        /* margin-top: 20px; */
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #546e7a;
    transition-duration: .2s;
}
.add:hover{
    background-color:  rgb(38 113 147);

    box-shadow:none;
    
}
::selection{
    background-color: #48d7a3;
}
.popup{
    width: 0;
    height: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #182468a3;
    backdrop-filter: blur(6px);
    justify-content: center;
    overflow: hidden;
    transition-duration: 1s;
}
.show{
    width: 100%;
    height: 100%;
}
.popupcontainer{
    background: #9fa8da96;
    backdrop-filter: blur(6px);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 600px;
    border-radius: 10px;
}
.popup input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin: 10px 0;
    
}
.popup button{
    display: block;
    cursor: pointer;
}
.btnAdd{
    width: 70%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    transition-duration: 0.4s;
    backdrop-filter: blur(100px);
}
.btnAdd:hover{
    background-color: #2b2a2a !important;
}
.btnCancel{
    position: absolute;
    top: 0;
    right: 0;
    background: darkred;
    width: 30px;
    height: 30px;
    font-size: 22px;
    outline: 0;
    border: 0;
    color: white;
    transform: translate(40%, -50%);
    border-radius: 50%;
    border: 2px solid white;
}
.blur{
     position: absolute;
    left: 0;
    height: 0;
    width: 1050px;
    height: 100vh;
    background-color: #e8f5e95e;
    transform: translate(-25%,-35%);
    z-index: -1;
    backdrop-filter: blur(4px);
}
.empty{
    background-color: #546e7a42;
    padding: 60px; 
    backdrop-filter: blur(30px);
    box-shadow: 0 16px 20px 0px #21212199;
}
#fromFristAdd{
    background: #7007077d;
}
#fromFristAdd .btnAdd{
    background: #4d0303;
}
#fromSecondAdd{
    background: #ff980087;    
}
#fromSecondAdd .btnAdd{
    background: #ff9900;
}
#fromThirdAdd{
    background: #48d7a382;
}
#fromThirdAdd .btnAdd{
    background: #0a6544;
}
.clearAll{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #9e9e9e;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 99;
    transition-duration: .2s;
}
.clearAll:hover{
    background-color: #616161;
}

.text{
    width: 75%;
    height: 100%;
    outline: none;
    transition-duration: .4s;
}
.text:focus{
    background-color: #9E9E9E;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
}
.clearContainer{
    background: #3f51b57d;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%,-100%);
    padding: 10px;
    font-size: 20px;
    z-index: 99;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition-duration: .5s;
    backdrop-filter: blur(20px);
}
.showClear{
    transform: translate(-50%,10%);
}
.btnClear{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
#DeleteAllTasks,
#CancelDelete{
    width: 50%;
    padding: 5px;
    color: white;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: .2s;
}
#DeleteAllTasks{
    background: #F44336;
}
#CancelDelete{
    background: #9e9e9e;
}
#DeleteAllTasks:hover{
    background: #a4180e;
}
#CancelDelete:hover{
    background: #787777;
}
ion-icon{
    width: 100%; 
    height: 100%;
}
.task.dragging{
    opacity: 0.5;
}
.boxDrag{
    background: cadetblue;
    border-radius: 10px;
    transition-duration: .2s;
}
.hide{
    transform: translatex(calc(100% + 10px));
}

@media (max-width:1024px){
    /* .container{
        width: 90%;
    } */
    .tasks_containers{
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .box {
        width: calc(50% - 20px);
    }
}

@media (max-width:768px){
    .tasks_containers {
        margin-bottom: 30px;
    }
    .box {
        width: calc(50% - 20px);
    }
    .popupcontainer{
        width: 90%;
    }
    .showClear {
        width: 80%;
    }
}

@media (max-width:560px){
    .tasks_containers {
        gap: 50px;
    }
    .box {
        width: 100%;
    }
    .showClear {
        width: 90%;
    }
}

.fristColor{
    background-color: rgb(57 1 1);
}
.secondColor{
    background-color: rgb(3 35 61);
}
.ThirdColor{
    background-color: rgb(147 162 241);
}
.fourthColor{
    background-color: rgb(3 56 47);
}
.notActiveColor{
    transform: scale(.8);
}
.changeColor{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 10px;
    top: 10px;
}
.colors{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(.8);
    transition-duration: .2s;
}
.colors:hover:not(.activeColor){
    transform: scale(1);
    
}
.activeColor{
    box-shadow: 0px 3px 0px 0px #00000080;
    transform: scale(1.4);
}